.DS_Store
profile


iOS/X509FileCertificateProvider/X509FileCertificateProvider.xcodeproj/project.xcworkspace/xcuserdata/**/*
*.a
iOS/X509KapselSample/platforms/ios/cordova/node_modules
resources/i18n.provider.properties
resources/x509ProviderUI.view.js
Android/resource/index.html
