<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.sap.mp.cordova.plugins.authproxy"
    version="3.8.1">

    <name>AuthProxy</name>
    <dependency id="com.sap.mp.cordova.plugins.corelibs" />
	<dependency id="org.apache.cordova.device" />
    <dependency id="org.apache.cordova.inappbrowser"/>
	
    <js-module name="AuthProxy" src="www/authproxy.js">
		<clobbers target="sap.AuthProxy"/>
	</js-module>

    <platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="AuthProxy">
				<param name="android-package" value="com.sap.mp.cordova.plugins.authProxy.AuthProxy"/>
				<param name="onload" value="true"/>
			</feature>
			
			<preference name="SAPKapselHandleHttpRequests" value="false" />
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale" android:name="com.sap.smp.client.httpc.authflows.SAML2AuthActivity" android:excludeFromRecents="true">
			</activity>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
		</config-file>
		
        <source-file src="android/libs/authproxy-android-3.8.1.jar" target-dir="libs"/>
	</platform>
	
    <platform name="ios">
        <config-file target="config.xml" parent="/widget">
			<feature name="AuthProxy">
				<param name="ios-package" value="SMPAuthProxyPlugin"/>
				<param name="onload" value="true"/>
			</feature>
			
			<preference name="SAPKapselHandleHttpRequests" value="true" />
		</config-file>
    
        <source-file src="ios/libs/libSMPAuthProxyPlugin.a" framework="true"/>
        <resource-file src="ios/Certificate.xcassets"/>
        <resource-file src="ios/bundles/HttpConvAuthFlows.bundle" />
    </platform>
    

    <!-- windows8.1/Windows Phone 8.1 -->
    <platform name="windows">
        <config-file target="package.appxmanifest" parent="/Package/Capabilities">
        </config-file>
        
        <js-module src="windows81/src/AuthProxyPlugin.js" name="AuthProxyPlugin">
          <merges target="" />
        </js-module>
        <!-- copy the native components -->
        <framework src="windows81/bin/SAP.AuthProxy.winmd" custom="true"/>
        <framework src="windows81/bin/Newtonsoft.Json.dll" custom="true"/>
    </platform>
</plugin>
