<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.sap.mp.cordova.plugins.logon"
    version="3.8.1">
    
    <name>Logon</name>
    <dependency id="com.sap.mp.cordova.plugins.corelibs" />
    <dependency id="com.sap.mp.cordova.plugins.authproxy" />
    <dependency id="org.apache.cordova.inappbrowser"/>
    <dependency id="org.apache.cordova.device"/>
    
    <js-module name="LogonCore" src="www/common/modules/MAFLogonCorePlugin.js">
        <clobbers target="sap.logon.Core"/>
	</js-module>
    <js-module name="LogonI18n" src="www/common/modules/i18n.js">
        <clobbers target="sap.logon.i18n"/>
    </js-module>
    <js-module name="LogonUtils" src="www/common/modules/Utils.js">
        <clobbers target="sap.logon.Utils"/>
    </js-module>
    <js-module name="LogonStaticScreens" src="www/common/modules/StaticScreens.js">
        <clobbers target="sap.logon.StaticScreens"/>
    </js-module>
    <js-module name="LogonDynamicScreens" src="www/common/modules/DynamicScreens.js">
        <clobbers target="sap.logon.DynamicScreens"/>
    </js-module>
    <js-module name="Logon" src="www/common/modules/LogonController.js">
        <clobbers target="sap.Logon"/>
    </js-module>
    <js-module name="LogonIabUi" src="www/common/modules/InAppBrowserUI.js">
        <clobbers target="sap.logon.IabUi"/>
    </js-module>
    <js-module name="LogonJsView" src="www/common/modules/LogonJsView.js">
        <clobbers target="sap.logon.LogonJsView"/>
    </js-module>
    <platform name="android">
        
        <asset target="smp/logon" src="www/common/assets"/>
      
        <source-file target-dir="libs" src="android/libs/maflogger-1.208.2.jar" />
        <source-file target-dir="libs" src="android/libs/maflogoncore-1.208.2.jar" />
        <source-file target-dir="libs" src="android/libs/CommonCertificateProvider-3.8.2.jar" />
        <source-file target-dir="libs" src="android/libs/AfariaProvider-3.8.2.jar" />

        <source-file target-dir="libs" src="android/libs/maflogoncorecdvplugin-3.8.1.jar" />
        
        <config-file target="res/xml/config.xml" parent="/widget">
            <feature name="MAFLogonCoreCDVPluginJS" required="true">
                <param name="android-package" value="com.sap.maf.html5.android.MAFLogonCoreCDVPlugin"/>
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest">		
			    <uses-permission android:name="com.sap.mobile.clientHub.CLIENTHUB_ACCESS_PERMISSION" />
  		</config-file>
        
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
		<meta-data
            android:name="com.sap.afaria"
            android:value="com.sap.smp.client.android.afariaprovider.AfariaCertificateProvider" />
        <activity
            android:name="com.sap.smp.client.android.afariaprovider.ProviderActivity"
            android:label="@string/afaria_provider_name"
            android:theme="@android:style/Theme.Holo.Light" />                
		</config-file>
        
        <!-- Afaria provider resources -->
        <resource-file src="android/AfariaProvider/res/drawable/roundshapedbtn.xml" target="res/drawable/roundshapedbtn.xml" />
        <resource-file src="android/AfariaProvider/res/drawable-hdpi/background.jpg" target="res/drawable-hdpi/background.jpg" />
        <resource-file src="android/AfariaProvider/res/drawable-hdpi/saplogo.png" target="res/drawable-hdpi/saplogo.png" />
        
        <resource-file src="android/AfariaProvider/res/layout/activity_main.xml" target="res/layout/activity_main.xml" />
        <resource-file src="android/AfariaProvider/res/layout/cert_provider.xml" target="res/layout/cert_provider.xml" />

        <resource-file src="android/AfariaProvider/res/values-v11/styles.xml" target="res/values-v11/styles.xml" />
        <resource-file src="android/AfariaProvider/res/values-v14/styles.xml" target="res/values-v14/styles.xml" />
        <resource-file src="android/AfariaProvider/res/values-w820dp/dimens.xml" target="res/values-w820dp/dimens.xml" />

        <!-- corelibs should create this file -->
        <config-file target="res/values/colors.xml" parent="/resources">
            <color name="text_view_background">#bbd3d3d3</color>
            <color name="button_background">#009cdf</color>
            <color name="text_view_error_background">#fbdede</color>
        </config-file> 

        <!-- corelibs should create this file -->
        <config-file target="res/values/dimens.xml" parent="/resources">
            <!-- Default screen margins, per the Android Design guidelines. -->
            <dimen name="activity_horizontal_margin">16dp</dimen>
            <dimen name="activity_vertical_margin">16dp</dimen>
        </config-file> 
        
        <!-- corelibs should create this file -->
        <config-file target="res/values/styles.xml" parent="/resources">
            <!--
                Base application theme, dependent on API level. This theme is replaced
                by AppBaseTheme from res/values-vXX/styles.xml on newer devices.
            -->

            <style name="AppBaseTheme" parent="android:Theme.Holo.Light">
                <!--
                    Theme customizations available in newer API levels can go in
                    res/values-vXX/styles.xml, while customizations related to
                    backward-compatibility can go here.
                -->

            </style>

            <!-- Application theme. -->
            <style name="AppTheme" parent="AppBaseTheme">
                <!-- All customizations that are NOT specific to a particular API-level can go here. -->

            </style>

            <style name="WildFlowers" parent="android:Theme.Holo.Light">
                <item name="android:background">@drawable/background</item>
            </style>

            <style name="editTextClassic" parent="@android:style/Widget.EditText">
                <item name="android:textColor">@android:color/primary_text_light</item>
                <item name="android:background">@android:drawable/edit_text</item>
            </style>
        </config-file>

        <config-file target="res/values/strings.xml" parent="/resources">
            <!-- XTIT: screen title for the certificate provider -->
            <string name="afaria_provider_name">"Afaria Credentials"</string>
            <!-- XBTN: ok button on the screen -->
            <string name="cert_provider_get">"OK"</string>
            <!-- XFLD: description for the certificate provider -->
            <string name="cert_provider_description">"The Afaria Certificate Provider needs to download your certificate from the server. Your certificate will be stored securely."</string>
            <!-- XFLD: hint text for the Afaria user name input field which will spoken by accessibility too -->
            <string name="afariauser_input">"Enter Afaria user name"</string>
            <!-- XFLD: hint text for the Afaria user password input field which will spoken by accessibility too -->
            <string name="afariapassword_input">"Enter Afaria password"</string>
            <!-- XMSG: Afaria provider progress indicator message -->
            <string name="progress_message">"Requesting Afaria certificate"</string>
            <!-- XMSG: Afaria provider error message -->
            <string name="error_message">"An error occurred! Please contact your administrator."</string>
            <!-- XFLD: hint text for the SAP logo which will spoken by accessibility too -->
            <string name="sap_logo_description">"SAP logo"</string>
            <!-- XFLD: copyright text -->
            <string name="sap_copyright">"Copyright © 2015 SE. All rights reserved."</string>
        </config-file>
    </platform>

    <platform name="ios">
        <asset target="smp/logon" src="www/common/assets"/>
      
        <source-file src="ios/libs/libMAFLogger.a" framework="true"/>
        <source-file src="ios/libs/libMAFLogonCoreCDVPlugin.a" framework="true"/>
        <source-file src="ios/libs/libMAFLogonManagerNG.a" framework="true"/>
        <source-file src="ios/libs/libCommonCertificateProvider.a" framework="true"/>
        <source-file src="ios/libs/libAfariaProvider.a" framework="true"/>
        <header-file src="ios/headers/CertificateProvider.h" />
        <header-file src="ios/headers/CertificateProviderDelegate.h" />
     
        <resource-file src="ios/bundles/MAFLogonManagerNG.bundle" />
        <resource-file src="ios/bundles/AfariaProvider.bundle" />
        
		<config-file target="config.xml" parent="/widget">
            <feature name="MAFLogonCoreCDVPluginJS">
                <param name="ios-package" value="MAFLogonCoreCDVPlugin"/>
            </feature>
        </config-file>
    </platform>
	
    <!-- windows8.1/Windows Phone 8.1 -->
    <platform name="windows">
        <asset target="smp/logon" src="www/common/assets"/>
        
        <js-module name="logon_proxy_win8" src="windows81/src/logon_proxy_win8.js">
            <merges target=""/>
        </js-module>

        <!-- copy the native components -->
        <framework src="windows81/bin/SAP.Logon.winmd" custom="true"/>
        <framework src="windows81/bin/SAP.Logon.Core.winmd" custom="true"/>
        <framework src="windows81/bin/SAP.SecureStore.winmd" custom="true"/>
        <framework src="windows81/bin/SAP.Supportability.winmd" custom="true"/>
        <framework src="windows81/bin/SAP.Net.Http.dll" custom="true"/>
        
        <!-- Add capabilities to the manifest file -->
        <config-file target="package.appxmanifest" parent="/Package/Capabilities">
            <!-- access the internet -->
            <Capability Name="internetClient" />
            <!-- access intranet -->
            <Capability Name="privateNetworkClientServer" />
            <!-- Used for x.509 certificate challenge -->
            <Capability Name="sharedUserCertificates" />
        </config-file>
        
    </platform>
</plugin>

